#calculator{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;

}
#display{
    margin: 10px;
    width: 84%;
    font-size: 25;
}
.buttoncontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.button{
   width: 45px;
   height: 45px;

margin: 3px;
}